<h3>Get Many</h3>
<div class="get-many-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="authTwinRefId">Auth twin</label>
      <input
        type="text"
        id="authTwinRefId"
        name="authTwinRefId"
        placeholder="auth twin id"
        [(ngModel)]="model.authTwinRefId"
      />
    </div>
    <div class="form-field">
      <label>
        <input
          type="checkbox"
          id="includeActivityDescendants"
          name="includeActivityDescendants"
          [(ngModel)]="model.includeActivityDescendants"
        />
        Include activity descendants
      </label>
      <label>
        <input
          type="checkbox"
          id="includeAuthTwinDescendants"
          name="includeAuthTwinDescendants"
          [(ngModel)]="model.includeAuthTwinDescendants"
        />
        Include twin descendants
      </label>
    </div>
    <div class="form-field">
      <label for="statusCode">Status</label>
      <select id="statusCode" name="statusCode" [(ngModel)]="model.statusCode">
        <option></option>
        <option [value]="1">Open</option>
        <option [value]="2">Completed</option>
        <option [value]="3">Canceled</option>
        <option [value]="4">Blocked</option>
        <option [value]="5">In progress</option>
      </select>
    </div>
    <div class="form-field">
      <label for="priorityCode">Priority</label>
      <select
        id="priorityCode"
        name="priorityCode"
        [(ngModel)]="model.priorityCode"
      >
        <option></option>
        <option [value]="1">Low</option>
        <option [value]="2">Normal</option>
        <option [value]="3">High</option>
      </select>
    </div>
    <div class="form-field">
      <label for="startTime">Start time:</label>
      <input
        type="date"
        id="startTime"
        name="startTime"
        [(ngModel)]="model.startTime"
      />
    </div>
    <div class="form-field">
      <label for="endTime">End time</label>
      <input
        type="date"
        id="endTime"
        name="endTime"
        [(ngModel)]="model.endTime"
      />
    </div>
    <div class="form-field">
      <label for="scheduleId">Schedule</label>
      <input
        type="text"
        id="scheduleId"
        name="scheduleId"
        placeholder="schedule id"
        [(ngModel)]="model.authTwinRefId"
      />
    </div>
    <div class="context-section">
      <label>Context</label>
      <table *ngIf="model.contextPairs && model.contextPairs.length > 0">
        <tr *ngFor="let kvp of model.contextPairs">
          <td>{{ kvp.key }}:</td>
          <td>{{ kvp.value }}</td>
        </tr>
      </table>
      <div class="add-context-entry-row">
        <div class="form-field">
          <label for="key">Key</label>
          <input
            type="text"
            id="key"
            name="key"
            placeholder="context key"
            #key="ngModel"
            [(ngModel)]="newKey"
          />
        </div>
        <div class="form-field">
          <label for="key">Value</label>
          <input
            type="text"
            id="value"
            name="value"
            placeholder="context value"
            #value="ngModel"
            [(ngModel)]="newValue"
          />
        </div>
        <button
          [disabled]="!key.value || !value.value"
          (click)="addContextEntry()"
        >
          +
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <div class="results" *ngIf="activityReturn">
    <app-return-summary [result]="activityReturn"></app-return-summary>
  </div>
</div>
